body{
    padding: auto auto 30% auto;
	background-attachment: fixed;
    background-size: cover;
    background-color: #addfff;
    text-align: center;
}

@font-face {
  font-family: 'kokoro';
  src: url(font/Kokoro.otf) format('opentype');
  src: url(font/Kokoro.woff) format('woff');
}

h1{
    padding: 20% auto;
    margin: 8% 8% 4% 8%;
    font-size: 3.5em;
}
p{
    margin: auto auto 2% auto;
    font-size: 2em;
}
a:hover{
    opacity: 0.75;
    background:#ffefef;
}
.wrap{
	font-family: 'kokoro';
}
input[type="password"]{
 font-family: Verdana, sans-serif;
}
.move{
    padding: 10%;
}
.ch{
    padding: 15%;
}